mysql> ALTER TABLE covid_cases
    -> MODIFY Country VARCHAR(100) NOT NULL,
    -> MODIFY Date DATE NOT NULL,
    -> MODIFY Confirmed_Cases INT NOT NULL;
Query OK, 0 rows affected (0.02 sec)
Records: 0  Duplicates: 0  Warnings: 0

mysql> ALTER TABLE covid_cases
    -> ADD CONSTRAINT chk_deaths
    -> CHECK (Deaths <= Confirmed_Cases);
Query OK, 0 rows affected (0.11 sec)
Records: 0  Duplicates: 0  Warnings: 0

mysql> SHOW CREATE TABLE covid_cases;
+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table       | Create Table                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |
+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| covid_cases | CREATE TABLE `covid_cases` (
  `Country` varchar(100) NOT NULL,
  `Date` date NOT NULL,
  `Confirmed_Cases` int NOT NULL,
  `Deaths` int DEFAULT NULL,
  `Recoveries` int DEFAULT NULL,
  `Last_Updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`Country`,`Date`),
  CONSTRAINT `fk_country` FOREIGN KEY (`Country`) REFERENCES `countries` (`Country`),
  CONSTRAINT `chk_deaths` CHECK ((`Deaths` <= `Confirmed_Cases`))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |
+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.00 sec)

mysql>